.response-button{background-image:linear-gradient(to right,#046cbb,#0cf2fd)!important;color:#FFF;border:none;border-color:transparent}
a{color:#0056b3}
.font{font-family:'Montserrat',sans-serif}
.f-w-400{font-weight:400!important}
.card{border:none}
.card .card-body{padding:7px 0}
.update-button{background-image:linear-gradient(to right,#046cbb,#0cf2fd)!important;color:#FFF;border:none;border-color:transparent;border-radius:6px;width:80%}
.update-button:hover{border:none;color:#FFF}
.image-container{width:90%;height:135px;border:1px dotted;border-radius:5px}
.row .f-w-500{font-weight:500}
.row .f-s-20{font-size:20px}
.row .f-s-16{font-size:16px}
.inputTextContainer{border-radius:5px}
.inputText{font-size:15px;min-height:50px!important;margin:0!important;color:#4e4d4d}
.floating-label{position:absolute;pointer-events:none;height:45px;line-height:45px;left:20px;top:1px;font-size:15px!important;font-weight:300!important}
input:focus ~ .floating-label,input:not(:focus):valid ~ .floating-label{height:15px;line-height:15px;left:13px;top:5px;font-size:9px!important;opacity:1}
.input-text-float{position:absolute;pointer-events:none;height:15px;line-height:15px;left:13px;top:5px;font-size:9px!important}
textarea:focus ~ .floating-label,textarea:not(:focus):valid ~ .floating-label{height:15px;line-height:15px;left:13px;top:5px;font-size:9px!important;opacity:1}
.form-group-default.focused{background-color:#FFF;border-color:#2196F3}
.card-common{box-shadow:1px 2px 5px #d9dbe1}
.font{font-family:'Montserrat',sans-serif}
.f-w-500{font-weight:500}
.f-w-600{font-weight:600}
.f-s-15{font-size:15px!important}
.f-s-16{font-size:16px!important}
.container{height:100%}
.save-button{background-image:linear-gradient(to right,#0f73ee,#1dafe8)!important;color:#FFF;border:none;border-color:transparent;border-radius:6px;width:80%}
.add-button{border:1px solid #2a83f0;color:#2a83f0;border-radius:6px;width:80%}
.form-group-default{border-radius:5px}
.inputText{font-size:15px;min-height:45px!important;margin:5px 0 0!important}
.floating-label{position:absolute;height:15px;line-height:15px;left:12px;top:5px;font-size:9px!important;opacity:1}
.color-black{color:#000}
.textclass{margin-left:245px}
.buttonclass{width:228px}
.mainwrapper{max-height:500px}
.error-p{color:red}
.addcls1, .addcls2{width: 100%;}
.ht .justify-content-end{align-items: stretch;}
.ht .justify-content-end .border {display: flex;align-items: center;} 

@media (max-width: 767px) {
#form-register .ml-2{margin-left: 0 !important;}
}