<div class="page-content-wrapper ">
    <div class="content">
        <div class="container-fluid">
            <div class="h-100">
                <div class="dashouter">

                    <div class="card card-borderless">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-md-9 col-sm-12">
                                    <h4 class="font sm-text-center text-md-left m-0">Transactions</h4>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                          <div class="row">
                            <div class="col-12"><span class="dllabel">ORDERS</span></div>
                            <div class="col-12">
                                <div class="row ml-n1 mr-n1">
                                  <div class="col-lg-6 col-md-6 col-sm-12 col-12 pl-1 pr-1">
                                    <div class="card card-common cardwidthcls dashboxcc"
                                        [style.border-color]="orderListRequest.filter_info.screen_name == '' ? 'blue': '' ">
                                        <div class="card-body  cursor" (click)="pageNo = 1; refreshTable('')">

                                            <h2 class="text-primary">
                                                {{ orderCount.total_count }}
                                            </h2>
                                            <div class="d-flex justify-content-between dashticon">
                                                <div class="text-right text-secondary pt-4">
                                                    <p class="font f-w-30">IN PROGRESS</p>
                                                </div>
                                                <div *ngIf="orderListRequest.filter_info.screen_name == ''; else empty">
                                                    <img class="img-fluid"
                                                        src="assets/img/icons/icn-inprogress-order.svg" />
                                                </div>
                                                <ng-template #empty>
                                                    <img class="img-fluid"
                                                        src="assets/img/icons/icn-inprogress-order-1.svg" />
                                                </ng-template>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-12 col-12 pl-1 pr-1">
                                    <div class="card card-common cardwidthcls dashboxcc"
                                        [style.border-color]="orderListRequest.filter_info.screen_name == 'Placed' ? 'blue': ''">
                                        <div class="card-body  cursor" (click)="pageNo = 1; refreshTable('Placed')">

                                            <h2 class="text-primary">
                                                {{ orderCount.pending_order_count }}
                                            </h2>
                                            <div class="d-flex justify-content-between dashticon">
                                                <div class="text-right text-secondary pt-4">
                                                    <p class="font f-w-300">COMPLETE</p>
                                                </div>

                                                <div *ngIf="
                                      orderListRequest.filter_info.screen_name == 'Placed';
                                      else elseBlock ">
                                                    <img src="assets/img/icons/icn-inprogress-order-3.svg" />
                                                </div>
                                                <ng-template #elseBlock>
                                                    <img src="assets/img/icons/icn-inprogress-order-2.svg" />
                                                </ng-template>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                          <div class="row">
                              <div class="col-12"><span class="dllabel">RETURNS</span>
                              </div>
                              <div class="col-12">
                              <div class="row ml-n1 mr-n1">
                                  <div class="col-lg-6 col-md-6 col-sm-12 col-12 pl-1 pr-1">
                                      <div class="card card-common cardwidthcls dashboxcc"
                                          [style.border-color]="orderListRequest.filter_info.screen_name == 'Completed' ? 'blue': ''">
                                          <div class="card-body  cursor " (click)="pageNo = 1; refreshTable('Completed')">
                                              <h2 class="text-primary">
                                                  {{ orderCount.completed_order_count }}
                                              </h2>
                                              <div class="d-flex justify-content-between dashticon">
                                                  <div class="text-right text-secondary pt-4">
                                                      <p class="font f-w-300">IN PROGRESS</p>
                                                  </div>

                                                  <div *ngIf=" orderListRequest.filter_info.screen_name == 'Completed';
                                        else completed ">
                                                      <img src="assets/img/icons/icn-complete-return-1.svg" />
                                                  </div>
                                                  <ng-template #completed>
                                                      <img src="assets/img/icons/icn-complete-return.svg" />
                                                  </ng-template>
                                              </div>
                                          </div>
                                      </div>
                                  </div>

                                  <div class="col-lg-6 col-md-6 col-sm-12 col-12 pl-1 pr-1">
                                      <div class="card card-commo cardwidthcls dashboxcc"
                                          [style.border-color]="orderListRequest.filter_info.screen_name == 'CancelledReturned' ? 'blue': ''">
                                          <div class="card-body  cursor "
                                              (click)="pageNo = 1; refreshTable('CancelledReturned')">

                                              <h2 class="text-primary">
                                                  {{ orderCount.canceled_order_count }}
                                              </h2>

                                              <div class="d-flex justify-content-between dashticon">
                                                  <div class="text-right text-secondary pt-4">
                                                      <p class="font f-w-300">COMPLETE</p>
                                                  </div>

                                                  <div *ngIf="
                                        orderListRequest.filter_info.screen_name == 'CancelledReturned';
                                        else cancel
                                      ">
                                                      <img src="assets/img/icons/icn-complete-return-2.svg" />
                                                  </div>
                                                  <ng-template #cancel>
                                                      <img src="assets/img/icons/icn-complete-return-3.svg" />
                                                  </ng-template>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                            </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                      <div class="col-12">
                        <div class="card card-borderless bg-transparent pt-4">
                            <div class="card-body p-l-0 p-r-0 pt-0 pb-0">
                                <div class="row align-items-center">
                                    <div class="col-md-4 col-sm-12 col-12 mb-3 mb-md-0">
                                        <form class="w-100" action="#" method="GET">
                                          <div class="formgroupinner">
                                            <i class="fa fa-angle-down"></i>
                                            <input type="text" class="form-control b-rad-md bg-white"
                                                placeholder="Filter by status" name="keyword"
                                                (ngModelChange)="debounce()"
                                                [(ngModel)]="orderListRequest.filter_info.keyword" />
                                              </div>
                                            
                                        </form>
                                    </div>
                                    <div class="col-md-4 col-sm-12 col-12 ml-auto">
                                        <form class="w-100" action="#" method="GET">
                                          <div class="formgroupinner">
                                            <i class="fa fa-search"></i>
                                            <input type="text" class="form-control b-rad-md bg-white"
                                                placeholder="Search Order Code..." name="keyword"
                                                (ngModelChange)="debounce()"
                                                [(ngModel)]="orderListRequest.filter_info.keyword" />
                                              </div>
                                            
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-12">
                        <div class="card dashcard">
                            <div class="card-body p-0">
                                <div class="table-responsive">
                                    <table class="table display product-overview mb-30" id="support_table">
                                        <thead>
                                            <tr>
                                                <th>ID #</th>
                                                <th>Date</th>
                                                <th>Customer Name</th>
                                                <th>Items</th>
                                                <th>Amount</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <!------No Order Found-->
                                        <div class="no_record d-none">
                                            <div class="no_record_title text-center txt-gray">no record found</div>
                                        </div>

                                        <div class="no_stripe " *ngIf="!step_flag">
                                            <div class="text-center">
                                                <button type="button" (click)="componentToStripe()" class="btn text-center btn-light btn-bluegrad txt-white">
                                                    Connect to Stripe
                                                </button>
                                            </div>
                                        </div>
                                        <tbody *ngIf="step_flag">
                                            <tr class="text-muted" (click)="showMyList=!showMyList">
                                                <td data-label="ID #"><a class="tdid" href="javascript:void(0);">4565432</a></td>
                                                <td data-label="Date">16/12/2018</td>
                                                <td data-label="Customer Name">Beatrice Patel</td>
                                                <td data-label="Items">1</td>
                                                <td data-label="Amount">$100</td>
                                                <td data-label="Status"><a class="neworder" href="javascript:void(0);">New Order</a></td>
                                            </tr>
                                            <tr class="text-muted">
                                                <td data-label="ID #"><a class="tdid" href="javascript:void(0);">4565432</a></td>
                                                <td data-label="Date">16/12/2018</td>
                                                <td data-label="Customer Name">Carolyn Lee</td>
                                                <td data-label="Items">1</td>
                                                <td data-label="Amount">$100</td>
                                                <td data-label="Status"><a class="pendingorder" href="javascript:void(0);">Pending Order</a></td>
                                            </tr>
                                            <tr class="text-muted">
                                                <td data-label="ID #"><a class="tdid" href="javascript:void(0);">4565432</a></td>
                                                <td data-label="Date">16/12/2018</td>
                                                <td data-label="Customer Name">Dennis Lucas</td>
                                                <td data-label="Items">1</td>
                                                <td data-label="Amount">$100</td>
                                                <td data-label="Status"><a class="createshipping" href="javascript:void(0);">Create Shipping Labels</a></td>
                                            </tr>
                                            <tr class="text-muted">
                                                <td data-label="ID #"><a class="tdid" href="javascript:void(0);">4565432</a></td>
                                                <td data-label="Date">16/12/2018</td>
                                                <td data-label="Customer Name">Kevin Hudson</td>
                                                <td data-label="Items">1</td>
                                                <td data-label="Amount">$100</td>
                                                <td data-label="Status"><a class="createdtext" href="javascript:void(0);">Label(s) Created</a></td>
                                            </tr>
                                            <tr class="text-muted">
                                                <td data-label="ID #"><a class="tdid" href="javascript:void(0);">4565432</a></td>
                                                <td data-label="Date">16/12/2018</td>
                                                <td data-label="Customer Name">Kathy Guerrero</td>
                                                <td data-label="Items">1</td>
                                                <td data-label="Amount">$100</td>
                                                <td data-label="Status"><a class="refundedtext" href="javascript:void(0);">Refunded</a></td>
                                            </tr>
                                            <tr class="text-muted">
                                                <td data-label="ID #"><a class="tdid" href="javascript:void(0);">4565432</a></td>
                                                <td data-label="Date">16/12/2018</td>
                                                <td data-label="Customer Name">Elizabeth Cunningham</td>
                                                <td data-label="Items">1</td>
                                                <td data-label="Amount">$100</td>
                                                <td data-label="Status"><a class="canceledshoppertext" href="javascript:void(0);">Canceled By Shopper</a></td>
                                            </tr>
                                            
                                        </tbody>
                                        
                                    </table>
                                   
                                </div>
                                
                                <div class="showMyListcls">
                                    <div class="row" *ngIf="showMyList">
                                        <div class="col-md-12 col-sm-12">                                            
                                            <div class="card">
                                                <!------package 1 Delivered/shipped-->
                                                <div class="package_request d-none">
                                                    <div class="package_content">
                                                        <div class="package_request_title text-left">Package 1</div>
                                                        <!------package 1 Delivered-->
                                                        <div class="package_request_msg text-right txt-green">Delivered</div>
                                                        <!------package 1 shipped-->
                                                        <div class="package_request_msg text-right txt-blue">Shipped</div>
                                                        <!------package 1 Label Created-->
                                                        <div class="package_request_msg text-right txt-green">Label Created</div>
                                                    </div>
                                                </div>  
                                                <!------Pending Refunded Item(s)-->
                                                <div class="refund_request d-none">
                                                    <div class="refund_content">
                                                        <div class="refund_request_title text-left txt-blue">Pending Refunded Item(s)</div>
                                                    </div>
                                                </div>
                                                <!------Refunded Item(s)-->
                                                <div class="refund_request d-none">
                                                    <div class="refund_content">
                                                        <div class="refund_request_title text-left txt-blue">Refunded Item(s)</div>
                                                    </div>
                                                </div>
                                                <!------Confirm Order w/counter-->
                                                <div class="confirmorder_request d-none">
                                                    <div class="confirmorder_request_content">
                                                        <div class="confirmorder_request_request_title text-center txt-white">The order will be canceled in 11 09:18 If it's not confirmed</div>
                                                    </div>
                                                </div>
                                                <!------Start Order Lists-->
                                                <div class="table-responsive">
                                                    <table class="table table-borderless">
                                                        <tbody> 
                                                            <!------Start Item Lists Loop-->                                                     
                                                            <tr>
                                                                <td>
                                                                    <figure class="itemside align-items-center">
                                                                        <div class="aside">
                                                                            <img src="https://static.nike.com/a/images/t_PDP_864_v1/f_auto,b_rgb:f5f5f5/be1f64cc-e34a-4828-9d68-4fad70cddf5d/custom-nike-waffle-one-by-you.png" class="img-sm"></div>
                                                                            <figcaption class="info"> 
                                                                                <h2 class="title text-dark">Nike - Air Jordan Sneaker</h2>
                                                                                <p class="text-muted medium"><span><b class="text-dark">x1</b></span>  <span>Size: <b class="text-dark">11</b></span> </p>
                                                                            </figcaption>
                                                                    </figure>
                                                                </td>                                                               
                                                                <td class="text-right"> 
                                                                    <div class="price-wrap"> <p class="price">$180.00</p> </div>
                                                                    <a  [routerLink]="['/seller/transaction-details']" class="btn btn-light btn-bluegrad" > View</a> 
                                                                </td>
                                                                <!------Shipping Labels Rejected/Rejected-->
                                                                <td class="text-right actioncls d-none"> 
                                                                    <div class="price-wrap"> <p class="price">$180.00</p> </div>
                                                                    <p class="font-weight-light txt-red"> Rejected</p> 
                                                                    <p class="font-weight-light txt-green d-none"> Rejected</p> 
                                                                </td>
                                                                <!------Create Shipping Labels Cancel/Accept-->
                                                                <td class="text-right radio-cls d-none"> 
                                                                    <div class="price-wrap"> <p class="price">$180.00</p> </div>
                                                                    <div class="form-check form-check-inline">
                                                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                                                        <label class="form-check-label txt-red" for="inlineRadio1">Cancel</label>
                                                                      </div>
                                                                      <div class="form-check form-check-inline">
                                                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                                                        <label class="form-check-label" for="inlineRadio2">Accept</label>
                                                                      </div>
                                                                </td>
                                                            </tr>
                                                            <!------End Item Lists Loop-->   
                                                            <tr>
                                                                <td>
                                                                    <figure class="itemside align-items-center">
                                                                        <div class="aside">
                                                                            <img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/6a611a8c-55f4-4b8d-94b1-2cdf74040716/zion-1-zna-basketball-shoe-bHGvxg.png" class="img-sm"></div>
                                                                            <figcaption class="info"> 
                                                                                <h2 class="title text-dark">Golden Goose - Superstar Sneaker</h2>
                                                                                <p class="text-muted medium"><span><b class="text-dark">x1</b></span>  <span>Size: <b class="text-dark">8</b></span> </p>
                                                                            </figcaption>
                                                                    </figure>
                                                                </td>
                                                               
                                                                <td class="text-right"> 
                                                                    <div class="price-wrap"> <p class="price">$180.00</p> </div>
                                                                    <a href="javascript:void(0)" class="btn btn-light btn-bluegrad" > View</a> 
                                                                </td>
                                                                <td class="text-right actioncls d-none"> 
                                                                    <div class="price-wrap"> <p class="price">$500.00</p> </div>
                                                                    <p class="font-weight-light txt-red d-none"> Rejected</p> 
                                                                    <p class="font-weight-light txt-green"> Accepted</p> 
                                                                </td>
                                                                
                                                                <td class="text-right radio-cls d-none"> 
                                                                    <div class="price-wrap"> <p class="price">$500.00</p> </div>
                                                                    <div class="form-check form-check-inline">
                                                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                                                                        <label class="form-check-label txt-red" for="inlineRadio3">Cancel</label>
                                                                      </div>
                                                                      <div class="form-check form-check-inline">
                                                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option4">
                                                                        <label class="form-check-label" for="inlineRadio4">Accept</label>
                                                                      </div>
                                                                </td>
                                                            </tr>                                                           

                                                        </tbody>
                                                    </table>  
                                                    <!------End Order Lists-->
                                                    
                                                    <!------Return Request amount-->

                                                    <div class="return_request d-none">
                                                        <div class="return_request_content text-right">
                                                            <div class="return_request_title txt-red">return request amount:</div>
                                                            <div class="return_request_amount txt-red">$680.00</div>
                                                        </div>
                                                    </div>
                                                    <!------Pending Refund amount-->
                                                    <div class="pending_refund d-none">
                                                        <div class="pending_refund_content text-right">
                                                            <div class="pending_refund_title txt-red">Pending Refund amount:</div>
                                                            <div class="pending_refund_amount txt-red">$680.00</div>
                                                        </div>
                                                    </div>
                                                    <!------Canceled items-->
                                                    <div class="cancel_item d-none">
                                                        <div class="col-lg-12">
                                                            <div class="card">
                                                                <div class="row">                                                                    
                                                                    <div class="col-lg-12 mt-2 text-left">
                                                                        <div class="cancel_item_title txt-red">canceled items</div>
                                                                        <figure class="itemside align-items-center">
                                                                            <div class="aside">
                                                                                <img src="https://static.nike.com/a/images/t_PDP_864_v1/f_auto,b_rgb:f5f5f5/be1f64cc-e34a-4828-9d68-4fad70cddf5d/custom-nike-waffle-one-by-you.png" class="img-sm">
                                                                            </div>
                                                                            <figcaption class="info"> 
                                                                                <h2 class="title text-dark">Nike</h2>
                                                                                <p class="text-muted medium">
                                                                                    <span>Size: <b class="text-dark">11</b></span> 
                                                                                    <span>Qty. <b class="text-dark">x1</b></span>  
                                                                                    <span>Item Total: <b class="txt-red">$180.00</b></span>  
                                                                                </p>
                                                                            </figcaption>
                                                                        </figure>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!------Rejected amount-->
                                                    <div class="rejected_item d-none">
                                                        <div class="col-lg-12">
                                                            <div class="card">
                                                                <div class="row">                                                                    
                                                                    <div class="col-lg-12 mt-2 text-left">
                                                                        <div class="rejected_item_title txt-red">rejected items</div>
                                                                        <figure class="itemside align-items-center">
                                                                            <div class="aside">
                                                                                <img src="https://static.nike.com/a/images/t_PDP_864_v1/f_auto,b_rgb:f5f5f5/be1f64cc-e34a-4828-9d68-4fad70cddf5d/custom-nike-waffle-one-by-you.png" class="img-sm">
                                                                            </div>
                                                                            <figcaption class="info"> 
                                                                                <h2 class="title text-dark">Nike</h2>
                                                                            </figcaption>
                                                                        </figure>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!------Shipping Address-->
                                                    <div class="shipping_block d-none">
                                                        <div class="col-lg-12">
                                                            <div class="card">
                                                                <div class="row">
                                                                    <div class="col-lg-8 mt-2 text-left">
                                                                        <p class="mb-1 text-left">Shipping Address</p>
                                                                        <h6 class="mb-1 text-left">Home <br>1234 Main St. <br>Miami, FL 12345</h6>
                                                                        <div class="row d-flex px-3"> 
                                                                            <img class="pay" src="https://i.imgur.com/OdxcctP.jpg">
                                                                            <p class="my-auto">Visa ending in 8763</p>
                                                                        </div>
                                                                    </div>    
                                                                    <div class="col-lg-4 mt-2 text-right">
                                                                        <div class="row d-flex justify-content-between px-4">
                                                                            <p class="mb-1 text-left">Subtotal</p>
                                                                            <h6 class="mb-1 text-right">$790.00</h6>
                                                                        </div>
                                                                        <div class="row d-flex justify-content-between px-4">
                                                                            <p class="mb-1 text-left">Shipping</p>
                                                                            <h6 class="mb-1 text-right">Free</h6>
                                                                        </div>
                                                                        <div class="row d-flex justify-content-between px-4">
                                                                            <p class="mb-1 text-left">Tax</p>
                                                                            <h6 class="mb-1 text-right">$47.60</h6>
                                                                        </div>
                                                                        <div class="row d-flex justify-content-between px-4" id="tax">
                                                                            <p class="mb-1 text-left">Total</p>
                                                                            <h6 class="mb-1 text-right">$727.60</h6>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!------Action Buttons-->
                                                    <div class="cart_buttons"> 
                                                        <!------Create Shipping Labels Button-->
                                                        <button type="button" class="btn btn-light btn-gray btn-bluegrad" data-toggle="modal" data-target="#myReadyCreatLabels" (click)="onReadyCreatLabelsOpen()">Create Shipping Labels</button> 
                                                        <button type="button" class="btn btn-light btn-gray btn-bluegrad" data-toggle="modal" data-target="#myCreatLabels" (click)="onCreatLabelsOpen()">Create Shipping Labels</button> 
                                                        <!------Refund Button-->
                                                        <button type="button" class="btn btn-light btn-gray btn-bluegrad d-none">Refund</button> 
                                                        <!------Confirm Button blue-->
                                                        <button type="button" class="btn btn-light btn-gray btn-bluegrad d-none">Confirm</button> 
                                                        <!------Confirm Button gray-->
                                                        <button type="button" class="btn btn-light btn-gray" disabled>Confirm</button> 
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>

                    <!-- <div class="row" *ngIf="orderList.length">
                        <div class="col-md-12 col-sm-12">
                          <div class="card-body">
                            <header>Page No.</header>
                          </div>
                    
                          <div class="pages left">
                            <form>
                              <p style="margin-right: 20px">
                                <mat-form-field style="width: 35px">
                                  <input
                                    matInput
                                    name="pageNo"
                                    style="text-align: center"
                                    [(ngModel)]="pageNo"
                                    type="number"
                                    min="1"
                                    step="1"
                                    [max]="ceil(count / orderListRequest.pagination.limit)"
                                  />
                                </mat-form-field>
                                &nbsp;&nbsp;&nbsp; / &nbsp;&nbsp;&nbsp;
                                {{ ceil(count / orderListRequest.pagination.limit) }}
                              </p>
                              <button
                                (click)="refreshTable(orderListRequest.filter_info.screen_name)"
                                class="btn btn-circle btn-primary"
                                [disabled]="isLoading"
                              >
                                GO
                              </button>
                            </form>
                          </div>
                    
                          <div class="pages right" style="user-select: none">
                            <p>
                              {{ pageNo }} of
                              {{
                                ceil(count / orderListRequest.pagination.limit)
                              }}
                              &nbsp;&nbsp;&nbsp;&nbsp;
                              <i
                                class="fa fa-chevron-left pointer"
                                [ngClass]="{ 'disable-click2': pageNo <= 1 }"
                                aria-hidden="true"
                                [ngStyle]="{ 'pointer-events': pageNo > 0 ? 'as;' : 'none;' }"
                                (click)="changePage(false)"
                              ></i>
                              &nbsp;&nbsp;&nbsp;&nbsp;
                              <i
                                class="fa fa-chevron-right pointer"
                                [ngClass]="{
                                  'disable-click2':
                                    pageNo >= ceil(count / orderListRequest.pagination.limit)
                                }"
                                aria-hidden="true"
                                (click)="changePage(true)"
                              ></i>
                            </p>
                          </div>
                        </div>
                      </div> -->

                </div>
            </div>
        </div>
    </div>




    
  <!-- Ready To Create Labels Modal -->
  <div class="modal fade common-modal" id="myReadyCreatLabels" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" (click)="onReadyCreatLabelsClose()">&times;</button>          
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row align-items-center mt-15">
              <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center">
                <h4 class="modal-title">Ready to create shipping labels?</h4>                
              </div>
            </div>
            <!---Action Button--->
            <div class="row align-items-center button-block mt-30">
              <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center">  
                <button class="category-button btn btn-md btnnotyet" type="button" data-dismiss="modal"><small class="font f-w-500">not yet</small></button>  
                <button class="update-button btn btn-md btncreatelabels" type="button" data-dismiss="modal" (click)="onReadyCreatLabelsSubmit()"><small class="font f-w-500">create labels</small></button>                   
              </div>
            </div> 
          </div>
        </div>
      </div>
    </div>
  </div>

   <!-- Create Labels Modal -->  
   <div class="modal fade common-modal" id="myCreatLabels" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" (click)="onCreatLabelsClose()">&times;</button>          
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row align-items-center mt-15">
              <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <h4 class="modal-title text-center">Create Labels</h4>     
                <p class="text-left">Drag & drop items to a shipping label based on how you’ll ship them to customers.</p>           
              </div>
            </div>
            <div class="row mt-15">
                <div class="col-md-4 col-sm-12 col-12"> 
                    <h6 class="bluebgtxt">Golden Goose - Superstar Sneaker</h6>           
                  </div>
                <div class="col-md-8 col-sm-12 col-12">
                    <div class="row">
                        <!------package loop block-------->
                        <div class="col-md-12 col-sm-12 col-12 packageblock">
                            <div class="row">
                                <button type="button" class="close">&times;</button>
                                <div class="col-md-10 col-sm-10 col-10">
                                    <h4 class="product-title text-left">Package 1</h4>       
                                </div>
                                <div class="col-md-12 col-sm-12 col-12 d-none">
                                    <h6 class="bluebgtxt">Golden Goose - Superstar Sneaker</h6>     
                                </div>
                                <div class="col-md-12 col-sm-12 col-12">
                                    <div class="item-wrapper one">
                                        <div class="item">
                                            <form data-validation="true" action="#" method="post" enctype="multipart/form-data">
                                                <div class="item-inner">
                                                    <div class="item-content">
                                                        <div class="image-upload"> 
                                                            <label style="cursor: pointer;" for="file_upload"> 
                                                                <img src="" alt="" class="uploaded-image">
                                                                <div class="h-100">
                                                                    <div class="dplay-tbl">
                                                                        <div class="dplay-tbl-cell"> 
                                                                            <i class="fa fa-plus fa-sm" aria-hidden="true"></i>
                                                                            <p><b>Drop items that will be shipped in this package</b></p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!--upload-content--> 
                                                                <input data-required="image" type="file" name="image_name" id="file_upload" class="image-input" data-traget-resolution="image_resolution" value="">

                                                            </label> 
                                                        </div>
                                                    </div>
                                                    <!--item-content-->
                                                </div>
                                                <!--item-inner-->
                                            </form>
                                        </div>
                                        <!--item-->
                                    </div>                                   
                                </div>
                            </div>
                        </div>
                        <!------package loop block-------->
                    </div> 
                                       
                    <div class="row">
                      <div class="col-md-12 col-sm-12 col-12">
                        <button class="btn bluetxt addpack"><i class="fa fa-plus"></i> Add Package</button> 
                      </div> 
                    </div>
                    
                    <div class="row mt-30">
                      <div class="col-md-10 offset-md-2 col-sm-12 col-12">
                          <div class="row d-flex justify-content-between px-4">
                            <p class="mb-1 text-left">Total Labels:</p>
                            <h6 class="mb-1 text-right">1</h6>
                          </div>
                          <div class="row d-flex justify-content-between px-4">
                              <p class="mb-1 text-left">Label(s) Fee:</p>
                              <h6 class="mb-1 text-right"></h6>
                          </div>
                          <div class="row d-flex justify-content-between px-4">
                              <p class="mb-1 text-left">Prepaid Shipping Cost:</p>
                              <h6 class="mb-1 text-right">$7.50</h6>
                          </div>
                          <div class="row d-flex justify-content-between px-4">
                              <p class="mb-1 text-left">Total Shipping Cost</p>
                              <h6 class="mb-1 text-right">$8.50</h6>
                          </div>
                      </div>
                    </div>
                    <div class="row mt-15">
                        <div class="col-md-10 offset-md-2 col-sm-12 col-12">
                            <div class="row d-flex justify-content-between px-4">
                                <p class="mb-1 text-left">You keep $2.50 on this shipping transaction.</p>  
                            </div>
                        </div> 
                      </div>
                    <div class="row">
                    <div class="col-md-8 offset-md-4 col-sm-12 col-12 text-right">  
                        <button class="update-button btn btn-md btncreatelabels" type="button" data-dismiss="modal" (click)="onCreatLabelsSubmit()"><small class="font f-w-500">label Checkout</small></button>                   
                      </div>
                    </div>
                </div>


            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>

