<div class="page-content-wrapper transaction-details">
    <div class="content">
      <div class="dashouter">  
        <div class="h-100">
          <div class="container-fluid">

            <!------Return section-->

            <div class="card card-borderless m-b-35">
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col-md-9 col-sm-12">
                    <h5 class="font m-0">Return</h5>
                  </div>
                </div>
              </div>
            </div>             
            <div class="card card-borderless m-b-35">
                <div class="card-body">
                  <div class="row align-items-center">
                    <div class="col-md-12 col-sm-12 text-center">
                      <h5 class="font m-0">Item</h5>
                      <h5 class="font m-0">Package 1</h5>
                    </div>
                  </div>
                  <div class="padding-whole"> 
                    <div class="row align-items-center status-block">
                      <div class="col-md-12 col-sm-12 text-lef">
                        <p class="font m-0"><span>Status:</span> Refunded</p>
                        <!-----Transactions In Progress Details - Canceled  -->
                        <p class="font m-0 txt-red"><span>Status:</span> Canceled by Shopper</p>                        
                        <!-----Transactions In Progress Details - Accepted -->
                        <p class="font m-0 txt-green"><span>Status:</span> Accepted</p>
                        <!-----Transactions In Progress Details - Rejected / Delivered Return item Rejected  -->
                        <p class="font m-0 txt-red"><span>Status:</span> Rejected</p>
                        <!-----Transactions In Progress Details - Label Sent – 1 -->
                        <p class="font m-0 txt-green"><span>Status:</span> Label Created</p>
                        <p class="font m-0 txt-blue"><span>Tracking:</span> 091888JAKMXI51G</p>
                        <!-----Transactions In Progress Details - Shipped -->
                        <p class="font m-0 txt-blue"><span>Status:</span> Shipped</p>
                        <p class="font m-0 txt-blue"><span>Tracking:</span> 091888JAKMXI51G</p>
                        <!-----Transactions In Progress Details -Delivered Return item -->
                        <p class="font m-0 txt-green"><span>Status:</span> Delivered</p>
                        <p class="font m-0 txt-blue"><span>Tracking:</span> 091888JAKMXI51G</p>
                        <!-----Transactions In Progress Details - Pending Refund item  -->
                        <p class="font m-0 txt-blue"><span>Status:</span> Pending Refund</p>
                      </div>
                    </div>
                    <div class="row align-items-center image-block">
                      <div class="col-md-12 col-sm-12 text-left">
                         <div class="image-block-wrapper">
                            <img src="https://media.gq.com/photos/57055beb7df70101759c65a7/master/w_1600%2Cc_limit/sneaker-of-the-week-golden-goose-distressed-1.jpg" alt="image">
                         </div>
                      </div>
                    </div>
                    <div class="row align-items-center image-title-block">
                      <div class="col-md-12 col-sm-12 text-left">
                        <h5 class="font m-0">Golden Goose Superstar Sneaker</h5>
                      </div>
                    </div>
                    <div class="row align-items-center image-info-block mt-50">
                      <div class="col-md-12 col-sm-12 text-left">
                        <p class="m-0"><span>Size:</span> 8</p>
                        <p class="m-0"><span>Qty:</span> 1</p>
                        <p class="m-0"><span>Item total:</span> $500.00</p>
                        <p class="m-0"><span>Placed Date:</span> 09/09/2020</p>
                        <p class="m-0"><span>Delivered Date:</span> 09/14/2020 at 12:30pm</p>
                      </div>
                    </div>
                    <div class="row align-items-center photo-block mt-30">
                      <div class="col-md-12 col-sm-12 text-left">
                        <h5 class="font m-0">Photos</h5>                   
                      </div>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-15 text-left">
                        <div class="row align-items-center">
                          <!----loop photo block-->
                            <div class="col-lg-3 col-md-3 col-sm-6 col-12 single-photo mb-30">
                              <div class="thumb-wrapper bdr">
                                  <div class="img-box">
                                    <img src="https://cdn.shopify.com/s/files/1/1915/2605/products/goldengoose_super-star_leopard_horsy_heel_sneanker_white_blue_red_GWF00102-F000240-80252_361820545_front.png?v=1608240018" class="img-fluid" alt="photo">
                                  </div>
                              </div>
                            </div>   
                          <!----end loop photo block-->
                          
                          <div class="col-lg-3 col-md-3 col-sm-6 col-12 single-photo mb-30">
                            <div class="thumb-wrapper bdr">
                                <div class="img-box">
                                  <img src="https://cdn.shopify.com/s/files/1/1915/2605/products/goldengoose_super-star_leopard_horsy_heel_sneanker_white_blue_red_GWF00102-F000240-80252_361820545_front.png?v=1608240018" class="img-fluid" alt="photo">
                                </div>
                            </div>
                          </div>
                          <div class="col-lg-3 col-md-3 col-sm-6 col-12 single-photo mb-30">
                            <div class="thumb-wrapper bdr">
                                <div class="img-box">
                                  <img src="https://cdn.shopify.com/s/files/1/1915/2605/products/goldengoose_super-star_leopard_horsy_heel_sneanker_white_blue_red_GWF00102-F000240-80252_361820545_front.png?v=1608240018" class="img-fluid" alt="photo">
                                </div>
                            </div>
                          </div>
                          <div class="col-lg-3 col-md-3 col-sm-6 col-12 single-photo mb-30">
                            <div class="thumb-wrapper bdr">
                                <div class="img-box">
                                  <img src="https://cdn.shopify.com/s/files/1/1915/2605/products/goldengoose_super-star_leopard_horsy_heel_sneanker_white_blue_red_GWF00102-F000240-80252_361820545_front.png?v=1608240018" class="img-fluid" alt="photo">
                                </div>
                            </div>
                          </div>
                        </div>
                        <!----end lists photo block-->
                      </div>
                    </div>                    

                    <div class="row align-items-center return-reson-block mt-30">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-left">
                        <h5 class="font m-0">Reason For Return</h5>                                      
                      </div>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-15 text-left">
                        <div class="divInf inputText">
                          <textarea class="form-control form-control-lg inputText" placeholder="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit."></textarea>     
                        </div>
                      </div>
                    </div>

                    <div class="row align-items-center return-reson-item-block mt-30">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-left">
                        <h5 class="font m-0">Reason Item Was Rejected</h5>                                      
                      </div>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-15 text-left">
                        <div class="divInf inputText">
                          <textarea class="form-control form-control-lg inputText" placeholder="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit."></textarea>     
                        </div>
                      </div>
                    </div>


                    <div class="row align-items-center refund-amount-block mt-30">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-left">
                        <h5 class="font m-0"><span>Refund Amount:</span> $5000.00</h5>                                      
                      </div>
                    </div>

                    <div class="row align-items-center pending-refund-amount-block mt-30">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-left">
                        <h5 class="font m-0"><span>Pending Refund Amount:</span> $500.00</h5>                                      
                      </div>
                    </div>

                    <div class="row align-items-center verify-return-block mt-30">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center">
                        <h5 class="font m-0">Please verify when return has been received</h5>                                      
                      </div>
                    </div>
                    <!---Transactions In Progress Returns – Reject / Accept--->
                    <div class="row align-items-center button-block mt-30">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center">
                        <button [routerLink]="['/']" class="category-button btn btn-md bdr-red" type="button"><small class="font f-w-500">Reject</small></button>                   
                        <button [routerLink]="['/']" class="update-button btn btn-md" type="button"><small class="font f-w-500">Accept</small></button>                   
                      </div>
                    </div>

                  </div> 
                </div>
            </div> 

            <!------ORDER section-->


          </div>
        </div>
      </div>
    </div>
  </div>


