<div class="page-content-wrapper transaction-details">
    <div class="content">
      <div class="dashouter">  
        <div class="h-100">
          <div class="container-fluid">
            <!------Header section-->
            <div class="card card-borderless m-b-35">
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col-md-9 col-sm-12">
                     <!------Return-->
                    <h5 class="font m-0">Return</h5>
                    <!------ORDER-->
                    <h5 class="font m-0 d-none">Order</h5>
                    <div class="back-button cursor d-none">
                      <a href="javascript:void(0);">
                        <img src="assets/img/icons/back.png" alt="">
                        <span class="font p-l-5 backclass">Back</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>   
            <!------End Header section-->
            <!------Body section-->
            <div class="card card-borderless m-b-35">
                <div class="card-body">
                  <div class="row align-items-center">
                    <div class="col-md-12 col-sm-12 text-center">
                      <h5 class="font m-0">Item</h5>
                      <h5 class="font m-0">Package 1</h5>
                    </div>
                  </div>
                  <div class="padding-whole"> 
                    <div class="row align-items-center status-block">
                      <!------Return-->
                      <div class="col-md-12 col-sm-12 text-left">
                        <p class="font m-0"><span>Status:</span> Refunded</p>

                        <p class="font m-0 txt-red"><span>Status:</span> Canceled by Shopper</p>     

                        <p class="font m-0 txt-green"><span>Status:</span> Accepted</p>

                        <p class="font m-0 txt-red"><span>Status:</span> Rejected</p>

                        <p class="font m-0 txt-green"><span>Status:</span> Label Created</p>
                        <p class="font m-0 txt-blue"><span>Tracking:</span> 091888JAKMXI51G</p>

                        <p class="font m-0 txt-blue"><span>Status:</span> Shipped</p>
                        <p class="font m-0 txt-blue"><span>Tracking:</span> 091888JAKMXI51G</p>

                        <p class="font m-0 txt-green"><span>Status:</span> Delivered</p>
                        <p class="font m-0 txt-blue"><span>Tracking:</span> 091888JAKMXI51G</p>

                        <p class="font m-0 txt-blue"><span>Status:</span> Pending Refund</p>
                      </div>
                      <!------ORDER-->
                      <div class="col-md-6 col-sm-12 text-left m-auto d-none">
                        <p class="font m-0"><span>Status:</span> Refunded</p>
                        
                        <p class="font m-0 txt-red"><span>Status:</span> Canceled by Shopper</p>   
                        
                        <p class="font m-0 txt-green"><span>Status:</span> Accepted</p>
                        
                        <p class="font m-0 txt-red"><span>Status:</span> Rejected</p>
                        
                        <p class="font m-0 txt-green"><span>Status:</span> Label Created</p>
                        <p class="font m-0 txt-blue"><span>Tracking:</span> 091888JAKMXI51G</p>
                        
                        <p class="font m-0 txt-blue"><span>Status:</span> Shipped</p>
                        <p class="font m-0 txt-blue"><span>Tracking:</span> 091888JAKMXI51G</p>
                        
                        <p class="font m-0 txt-green"><span>Status:</span> Delivered</p>
                        <p class="font m-0 txt-blue"><span>Tracking:</span> 091888JAKMXI51G</p>
                        
                        <p class="font m-0 txt-blue"><span>Status:</span> Pending Refund</p>
                      </div>
                    </div>
                    <div class="row align-items-center image-block">
                      <!------Return-->
                      <div class="col-md-12 col-sm-12 text-left">
                         <div class="image-block-wrapper">
                            <img src="https://media.gq.com/photos/57055beb7df70101759c65a7/master/w_1600%2Cc_limit/sneaker-of-the-week-golden-goose-distressed-1.jpg" alt="image">
                         </div>
                      </div>
                      <!------ORDER-->
                      <div class="col-md-6 col-sm-12 text-left m-auto d-none">
                        <div class="image-block-wrapper">
                           <img src="https://media.gq.com/photos/57055beb7df70101759c65a7/master/w_1600%2Cc_limit/sneaker-of-the-week-golden-goose-distressed-1.jpg" alt="image">
                        </div>
                      </div>
                    </div>
                    <div class="row align-items-center image-title-block">
                      <!------Return-->
                      <div class="col-md-12 col-sm-12 text-left">
                        <h5 class="font m-0">Golden Goose Superstar Sneaker</h5>
                      </div>
                      <!------ORDER-->
                      <div class="col-md-6 col-sm-12 text-left m-auto d-none">
                        <h5 class="font m-0">Golden Goose Superstar Sneaker</h5>
                      </div>
                    </div>
                    <div class="row align-items-center image-info-block mt-50">
                      <!------Return-->
                      <div class="col-md-12 col-sm-12 text-left">
                        <p class="m-0"><span>Size:</span> 8</p>
                        <p class="m-0"><span>Qty:</span> 1</p>
                        <p class="m-0"><span>Item total:</span> $500.00</p>
                        <p class="m-0"><span>Placed Date:</span> 09/09/2020</p>
                        <p class="m-0"><span>Delivered Date:</span> 09/14/2020 at 12:30pm</p>
                      </div>
                      <!------ORDER-->
                      <div class="col-md-6 col-sm-12 text-left m-auto d-none">
                        <p class="m-0"><span>Price:</span> $180.00</p>
                        <p class="m-0"><span>Size:</span> 8</p>
                        <p class="m-0"><span>Qty:</span> 1</p>
                      </div>
                    </div>
                    <div class="row align-items-center photo-block mt-30">
                      <div class="col-md-12 col-sm-12 text-left">
                        <h5 class="font m-0">Photos</h5>                   
                      </div>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-15 text-left">
                        <div class="row align-items-center single-photo-wrapper">
                          <!----loop photo block-->
                            <div class="col-lg-3 col-md-3 col-sm-3 col-3 single-photo mb-30">
                              <div class="thumb-wrapper bdr">
                                  <div class="img-box">
                                    <img src="https://cdn.shopify.com/s/files/1/1915/2605/products/goldengoose_super-star_leopard_horsy_heel_sneanker_white_blue_red_GWF00102-F000240-80252_361820545_front.png?v=1608240018" class="img-fluid" alt="photo">
                                  </div>
                              </div>
                            </div>   
                          <!----end loop photo block-->
                          
                          <div class="col-lg-3 col-md-3 col-sm-3 col-3 single-photo mb-30">
                            <div class="thumb-wrapper bdr">
                                <div class="img-box">
                                  <img src="https://cdn.shopify.com/s/files/1/1915/2605/products/goldengoose_super-star_leopard_horsy_heel_sneanker_white_blue_red_GWF00102-F000240-80252_361820545_front.png?v=1608240018" class="img-fluid" alt="photo">
                                </div>
                            </div>
                          </div>
                          <div class="col-lg-3 col-md-3 col-sm-3 col-3 single-photo mb-30">
                            <div class="thumb-wrapper bdr">
                                <div class="img-box">
                                  <img src="https://cdn.shopify.com/s/files/1/1915/2605/products/goldengoose_super-star_leopard_horsy_heel_sneanker_white_blue_red_GWF00102-F000240-80252_361820545_front.png?v=1608240018" class="img-fluid" alt="photo">
                                </div>
                            </div>
                          </div>
                          <div class="col-lg-3 col-md-3 col-sm-3 col-3 single-photo mb-30">
                            <div class="thumb-wrapper bdr">
                                <div class="img-box">
                                  <img src="https://cdn.shopify.com/s/files/1/1915/2605/products/goldengoose_super-star_leopard_horsy_heel_sneanker_white_blue_red_GWF00102-F000240-80252_361820545_front.png?v=1608240018" class="img-fluid" alt="photo">
                                </div>
                            </div>
                          </div>
                        </div>
                        <!----end lists photo block-->
                      </div>
                    </div>     
                    <div class="row align-items-center return-reson-block mt-30">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-left">
                        <h5 class="font m-0">Reason For Return</h5>                                      
                      </div>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-15 text-left">
                        <div class="divInf inputText">
                          <textarea class="form-control form-control-lg inputText" placeholder="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit."></textarea>     
                        </div>
                      </div>
                    </div>
                    <div class="row align-items-center return-reson-item-block mt-30">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-left">
                        <h5 class="font m-0">Reason Item Was Rejected</h5>                                      
                      </div>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-15 text-left">
                        <div class="divInf inputText">
                          <textarea class="form-control form-control-lg inputText" placeholder="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit."></textarea>     
                        </div>
                      </div>
                    </div>
                    <div class="row align-items-center refund-amount-block mt-30">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-left">
                        <h5 class="font m-0 txt-red"><span>Refund Amount:</span> $5000.00</h5>                                      
                      </div>
                    </div>
                    <div class="row align-items-center pending-refund-amount-block mt-30">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-left">
                        <h5 class="font m-0 txt-red"><span>Pending Refund Amount:</span> $500.00</h5>                                      
                      </div>
                    </div>
                    <div class="row align-items-center verify-return-block mt-30">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center">
                        <h5 class="font m-0">Please verify when return has been received</h5>                                      
                      </div>
                    </div>                    
                    <!---Action Button--->
                    <div class="row align-items-center button-block mt-30">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center">
                        <button class="category-button btn btn-md bdr-red btnreject" type="button" data-toggle="modal" data-target="#myRejectModal" (click)="onRejectModalOpen()"><small class="font f-w-500">Reject</small></button>      
                        <button class="category-button btn btn-md bdr-red btncancel" type="button"><small class="font f-w-500">Cancel</small></button>             
                        <button class="update-button btn btn-md btnaccept" type="button" data-toggle="modal" data-target="#myCreatLabelsModal" (click)="onCreatLabelsModalOpen()"><small class="font f-w-500">Accept</small></button>                   
                      </div>
                    </div>  
                  </div> 
                </div>
            </div> 
             <!------End Body section-->
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- RejectModal -->
  <div class="modal fade common-modal" id="myRejectModal" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" (click)="onRejectModalClose()">&times;</button>          
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row align-items-center mt-15">
              <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center">
                <h4 class="modal-title">Reason for rejecting this return:</h4>
                <div class="divInf inputText w-100 mt-15">
                  <textarea class="form-control form-control-lg inputText" placeholder="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit."></textarea>     
                </div>
              </div>
            </div>
            <!---Action Button--->
            <div class="row align-items-center button-block mt-30">
              <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center">    
                <button class="update-button btn btn-md btnaccept" type="button" data-dismiss="modal" (click)="onRejectModalSubmit()"><small class="font f-w-500">Submit</small></button>                   
              </div>
            </div> 
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Create Labels Modal -->  
  <div class="modal fade common-modal" id="myCreatLabelsModal" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" (click)="onCreatLabelsModalClose()">&times;</button>          
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row align-items-center mt-15">
              <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <h4 class="modal-title text-center">Create Labels</h4>     
                <p class="text-left">Drag & drop items to a shipping label based on how you’ll ship them to customers.</p>           
              </div>
            </div>
            <div class="row mt-15">
                <div class="col-md-4 col-sm-12 col-12"> 
                    <h6 class="bluebgtxt">Golden Goose - Superstar Sneaker</h6>           
                  </div>
                <div class="col-md-8 col-sm-12 col-12">
                    <div class="row">
                      <div class="col-md-12 col-sm-12 col-12">
                        <h4 class="product-title text-left">Package 1</h4>    
                      </div>
                    </div> 
                    <div class="row">
                      <div class="col-md-12 col-sm-12 col-12">
                        <h6 class="bluebgtxt">Golden Goose - Superstar Sneaker</h6>     
                      </div>
                    </div>                    
                    <div class="row">
                      <div class="col-md-12 col-sm-12 col-12">
                        <button class="btn bluetxt addpack"><i class="fa fa-plus"></i> Add Package</button> 
                      </div> 
                    </div>
                    <div class="row">
                      <div class="col-md-10 offset-md-2 col-sm-12 col-12">
                          <div class="row d-flex justify-content-between px-4">
                            <p class="mb-1 text-left">Total Labels:</p>
                            <h6 class="mb-1 text-right">1</h6>
                          </div>
                          <div class="row d-flex justify-content-between px-4">
                              <p class="mb-1 text-left">Label(s) Fee:</p>
                              <h6 class="mb-1 text-right"></h6>
                          </div>
                          <div class="row d-flex justify-content-between px-4">
                              <p class="mb-1 text-left">Prepaid Shipping Cost:</p>
                              <h6 class="mb-1 text-right">$7.50</h6>
                          </div>
                          <div class="row d-flex justify-content-between px-4">
                              <p class="mb-1 text-left">Total Shipping Cost</p>
                              <h6 class="mb-1 text-right">$8.50</h6>
                          </div>
                      </div>
                    </div>
                    <div class="row">
                    <div class="col-md-8 offset-md-4 col-sm-12 col-12 text-right">  
                        <button class="update-button btn btn-md btncreatelabels" type="button" data-dismiss="modal" (click)="onCreatLabelsModalSubmit()"><small class="font f-w-500">label Checkout</small></button>                   
                      </div>
                    </div>
                </div>


            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>



