<div class="signupboximg" style="background-image: url(../assets/img/bg_1.png);">
    <div class="signupouter">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-8 col-md-9 col-sm-10 col-12">
                    <div class="card">
                        <div class="card-body">

                            <div class="row justify-content-center">
                                <div class="col-12 text-center">
                                    <div class="logoouter">
                                        <img src="assets/img/logo.png" alt="">
                                        <span>for sellers</span>
                                    </div>
                                </div>
                            </div>

                            <form [formGroup]="forgetPasswordForm" id="example-advanced-form" action="#"
                                class="p-t-15 m-b-30" role="form">

                                <div class="row m-b-15 justify-content-center">
                                    <div class="col-12 text-center">
                                        <h3 class="font f-w-500">Forgot Password</h3>
                                    </div>
                                </div>

                                <div class="row m-b-25 text-center">
                                    <div class="col-md-12">
                                        <p>Please enter your email below to receive reset password instructions</p>
                                    </div>
                                </div>

                                <div class="row justify-content-center m-b-15">

                                    <div class="col-md-12 col-12">
                                        <div class="form-group inputTextContainer floatwrap">
                                            <input type="email" class="form-control form-control-lg inputText" placeholder="Email" 
                                                formControlName="email" />
                                                <label class="matlabel" for="email">Email</label>

                                            <p class="error-p"
                                                *ngIf="forgetPasswordForm.controls['email'].touched && !forgetPasswordForm.controls['email'].valid && forgetPasswordForm.controls['email'].errors.required">
                                                Email required.
                                            </p>

                                            <p class="error-p"
                                                *ngIf="forgetPasswordForm.controls['email'].touched && !forgetPasswordForm.controls['email'].valid && forgetPasswordForm.controls['email'].errors.email">
                                                Email is not valid.
                                            </p>
                                        </div>
                                    </div>

                                </div>

                                <div class="row justify-content-center">
                                    <div class="col-md-12 col-12">
                                        <button (click)="formSubmit()" role="button"
                                            class="btn btn-lg btn-block signup-btn">Submit
                                        </button>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <p class="mb-0 mt-2 mt-md-0 text-center forgottext">
                                            <a routerLink="/auth/login" class="text-center">I already have an
                                                account.</a>
                                        </p>

                                        <p class="mb-0 mt-2 mt-md-0 text-center forgottext">
                                            <a routerLink="/auth/signup" class="text-center">Create an account.</a>
                                        </p>

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>