<div class="page-content-wrapper mainwrapper">
    <div class="content sm-gutter">
        <div class="container-fluid padding-0 sm-padding-0">
            <div class="h-100">
                <div class="container-fluid">
                    <div class="card card-borderless m-b-20">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-11">
                                    <h4 class="font text-center m-0 ">{{data?.header}}</h4>
                                </div>
                                <div class="col-md-1 text-left sm-m-b-20 closebtnclass">
                                    <i class="fa fa-close" style="font-size:24px;cursor: pointer;"
                                        (click)="closeModal()"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row ">
                        <div class="col-12 form-group">
                            <form>
                                <div class="row">
                                    <h5 class="text-mute font-weight-normal">Image <span
                                            style="color: brown;font-size: 15px;">(max 5
                                            photos)</span></h5>
                                    <div class="col-md-12">
                                        <div class="row m-b-15">
                                            <div *ngIf="imagesData.length < 5" class="addwrapppercls" style="display : -webkit-inline-box">
                                                <div class="image-container-wrapper">
                                                    <div onclick="document.getElementById('selectedImgFile').click();"
                                                        class="image-container text-center cursor">
                                                        <input type="file" id="selectedImgFile" name="selectedImgFile"
                                                            accept="image/*" (change)="handleFileInputChange($event)"
                                                            class="d-none" multiple />
                                                        <img class="imageareaclass" src="assets/img/icons/plus_icon.png" />
                                                    </div>
                                                </div>
                                            </div>

                                            <div *ngIf="imagesData.length > 0" style="display: flex;" class="productlistswrapper">
                                                <div *ngFor="let item of imagesData;let i = index" class="productlistsingle">

                                                    <div class="col-md-12" style="display : -webkit-inline-box">
                                                        <div class="imgcardclass-wrapper">
                                                            <div class="imgcardclass-wrapper-inner">
                                                                <img form-group *ngIf="item" [src]="item" class="image-fluid imgcardclass" />
                                                            </div>
                                                        </div>
                                                          <i class="material-icons imgcloseclass" (click)="clearImage(item,i,'add')">&#xe888;</i>                          
                                                        
                                                      </div>



                                                    <!-- <div class="col-md-2" style="display : -webkit-inline-box">
                                                        <img form-group *ngIf="item" [src]="item.img"
                                                            class="image-fluid p-4 imgcardclass" />
                                                        <i class="material-icons imgcloseclass"
                                                            (click)="clearImage(item,i,'add')">&#xe888;</i>
                                                    </div> -->
                                                </div>
                                            </div>

                                            <div *ngIf="variant.media_links.length > 0" style="display: flex;" class="productlistswrapper">
                                                <div *ngFor="let item of variant.media_links;let j = index" class="productlistsingle">
                                                    <div class="col-md-12" style="display : -webkit-inline-box">
                                                        <div class="imgcardclass-wrapper">
                                                            <div class="imgcardclass-wrapper-inner">
                                                                <img form-group *ngIf="item" [src]="item" class="image-fluid imgcardclass" />
                                                            </div>
                                                        </div>
                                                        <i class="material-icons imgcloseclass"
                                                            (click)="clearImage(item,j,'edit')">&#xe888;</i>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row m-b-6 mb-2">
                                            <div class="col-md-6 floatwrap">
                                                <input placeholder="Price"  name="variantprice" id="variantprice"
                                                    class="form-control form-control-lg inputText"
                                                    [(ngModel)]="variant.price" [ngModelOptions]="{standalone: true}" />
                                                    <label class="matlabel mt-0 pl-0" for="variantprice">Price</label>
                                                <p class="error-p" *ngIf="variant.price == null || variant.price == ''">{{fielderror?.priceerr}}</p>
                                            </div>

                                            <div class="col-md-6 floatwrap">
                                                <input placeholder="Quantity"
                                                    class="form-control form-control-lg inputText"  name="variantqty" id="variantqty"
                                                    [(ngModel)]="variant.qty" [ngModelOptions]="{standalone: true}" />

                                                    <label class="matlabel mt-0 pl-0" for="variantqty">Quantity</label>

                                                    <p class="error-p" *ngIf="variant.qty == null || variant.qty == ''">{{fielderror?.qtyerr}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row m-b-6 mb-2">
                                            <div class="col-md-6 floatwrap">
                                                <input placeholder="SKU" class="form-control form-control-lg inputText" name="variant" id="variant"
                                                    [(ngModel)]="variant.sku" [ngModelOptions]="{standalone: true}" />

                                                    <label class="matlabel mt-0 pl-0" for="variant">SKU</label>

                                                    <p class="error-p" *ngIf="variant.sku == null || variant.sku == ''">{{fielderror?.skuerr}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <hr />
                                <div class="row">
                                    <h5 class="text-mute font-weight-normal">Discount / Offer Type </h5>
                                    <div class="col-md-12">
                                        <div class="row m-b-6 mb-2">
                                            <div class="col-md-4">
                                                <input type="radio" class="mr-2" [checked]='none_flag'
                                                    (change)="changeDiscount(0)" />None
                                            </div>

                                            <div class="col-md-4">
                                                <input type="radio" [checked]='is_percentage' class="mr-2"
                                                    (change)="changeDiscount(1)" />Percentage
                                            </div>

                                            <div class="col-md-4">
                                                <input type="radio" [checked]='is_flat_amount' class="mr-2"
                                                    (change)="changeDiscount(2)" />Flat Rate
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row" *ngIf="is_percentage || is_flat_amount">
                                    <div class="col-md-12">
                                        <div class="row m-b-6 mb-2">
                                            <div class="col-md-6">
                                                <input type="number" placeholder="Discount value"
                                                    class="form-control form-control-lg inputText"
                                                    [(ngModel)]="variant.discount_value"
                                                    [ngModelOptions]="{standalone: true}" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr />

                                <div class="row">
                                    <div class="col-md-12 mt-2">
                                        <div class="row m-b-6 mb-2">
                                            <div class="col-md-4">
                                                <p class="font f-s-15 m-2">Active</p>
                                            </div>
                                            <div class="col-md-4">
                                                <ui-switch color="#0f7aed" [(ngModel)]="variant.is_active" size="small"
                                                    name="is_active" [ngModelOptions]="{standalone: true}">
                                                </ui-switch>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </form>

                            <div class="col-lg-12 col-md-10 mt-2 text-right">
                                <button class="btn-ouline-design btn text-center mt-2 disable-submit mr-2 " type="button"
                                    (click)="removeVariant()">
                                    <small class="font">Remove</small>
                                </button>

                                <button class="btn-design btn text-center mt-2 disable-submit" type="button"
                                    (click)="updateVariant()">
                                    <small class="font">Update</small>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>