/* @import '~@angular/cdk/overlay-prebuilt.css'; */


.response-button{
    background-image: linear-gradient(to right, #046cbb, #0cf2fd) !important;
    color: #FFFFFF;
    border:none;
    border-color: transparent;
}
a {
    color: #0056b3;
}
.font{
    font-family: 'Montserrat', sans-serif;
}

.f-w-400 {
    font-weight: 400 !important;
}
.card{
    border: none;
}
.card .card-body{
    padding: 7px 20px;
}
.update-button{
    background-image: linear-gradient(to right, #046cbb, #0cf2fd) !important;
    color: #FFFFFF;
    border:none;
    border-color: transparent;
    border-radius: 6px;
    width: 80%;
}
.update-button:hover{
    border: none;
    color: #FFFFFF;
}
.image-container{
    width: 90%;
    height: 135px;
    border: 1px dotted;
    border-radius: 5px;
}
.row .f-w-500 {
    font-weight: 500;
}
.row .f-s-20 {
    font-size: 20px;
}
.row .f-s-16{
    font-size: 16px;
}
.inputTextContainer {
    border-radius: 5px;
}

.inputText {
    font-size: 15px;
    min-height: 50px !important;
    margin: 0 !important;
    color: rgb(78, 77, 77)
}
/* .inputTextContainer .inputText {
    min-height: 45px;
    margin: 0;
    padding-top: 10px;
    font-size: large ;
} */

 .floating-label {
    position: absolute;
    pointer-events: none;
    height: 45px;
    line-height: 45px;
    left: 20px;
    top: 1px;
    font-size: 15px !important;
    font-weight: 300 !important;
}
input:focus ~ .floating-label,
input:not(:focus):valid ~ .floating-label{
    height: 15px;
    line-height: 15px;
    left: 13px;
    top: 5px;
    font-size: 9px !important;
    opacity: 1;

}

.input-text-float{
    position: absolute;
    pointer-events: none;
    height: 15px;
    line-height: 15px;
    left: 13px;
    top: 5px;
    font-size: 9px !important;
    
}

textarea:focus ~ .floating-label,
textarea:not(:focus):valid ~ .floating-label{
    height: 15px;
    line-height: 15px;
    left: 13px;
    top: 5px;
    font-size: 9px !important;
    opacity: 1;

}
.form-group-default.focused{
    background-color: #FFFFFF;
    border-color:  #2196F3;
}

.card-common{
    box-shadow: 1px 2px 5px #d9dbe1;
}

.font{
    font-family: 'Montserrat', sans-serif;
}
.f-w-500 {
    font-weight: 500;
}
.f-w-600 {
    font-weight: 600;
}
.f-s-15{
    font-size: 15px !important;
}
.f-s-16{
    font-size: 16px !important;
}
.container {
    height: 100%;
}


.save-button{
    background-image: linear-gradient(to right, #0f73ee, #1dafe8) !important;
    color: #FFFFFF;
    border:none;
    border-color: transparent;
    border-radius: 6px;
    width: 80%;
}

.add-button{
    border: 1px solid #2a83f0;
    color: #2a83f0;
    border-radius: 6px;
    width: 80%;
}

.form-group-default{
    border-radius: 5px;
}
/*.inputText {
    font-size: 15px;
    min-height: 45px !important;
    margin: 5px 0 0 0!important;

}*/

.inputText {
    font-size: 15px;
    min-height: 45px !important;
    margin: 5px 0 0 0!important;

}

/*.input-group{
    background-color: #FFFFFF !important;
}
.input-group.focused{
    border-color: #046cbb;
}*/
/*.floating-label {
    position: absolute;
    pointer-events: none;
    height: 45px;
    line-height: 45px;
    left: 20px;
    top: 0;
    font-size: 15px !important;
    font-weight: 300;
}*/

.floating-label {
    position: absolute;
    height: 15px;
    line-height: 15px;
    left: 12px;
    top: 5px;
    font-size: 9px !important;
    opacity: 1;
}

.color-black{
    color: black;
}
.closebtnclass{
    position: absolute;
    top: 6px;
    margin-left: 610px;
}

.textclass{
    margin-left: 245px;
}

.buttonclass{
    width: 228px;
}
.mainwrapper{
    max-height: 500px;
}
.textclass{
width: 480px;
}

.StripeElement {
    background-color: white;
    height: 40px;
    padding: 10px 12px;
    border-radius: 4px;
    border: 1px solid transparent;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
    width: 100%;
  }
  
  .StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
  }
  
  .StripeElement--invalid {
    border-color: #fa755a;
  }
  
  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }



a {
    color: #0056b3;
}
.font{
    font-family: 'Montserrat', sans-serif;
}
.inputText {
    font-size: 15px;
    min-height: 50px !important;
    margin: 0 !important;
    color: rgb(78, 77, 77)
}

.floating-label {
    position: absolute;
    pointer-events: none;
    height: 45px;
    line-height: 45px;
    left: 20px;
    top: 1px;
    font-size: 15px !important;
    font-weight: 300;
    color: rgb(78, 77, 77)
}

.select-label{
    position: absolute;
    pointer-events: none;
    height: 15px;
    line-height: 15px;
    left: 10px;
    top: 5px;
    font-size: 9px !important;
    opacity: 1;
}

.dropdown-menu.show {
    left: -75px !important;
}
.dropdown-menu.show::before {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    left: 50%;
    top: -12px;
    transform: translate(-50%,50%) rotate(45deg);
    background-color: #FFFFFF;
}

input:focus ~ .floating-label,
input:not(:focus):valid ~ .floating-label{
    height: 15px;
    line-height: 15px;
    left: 20px;
    top: 1px;
    font-size: 9px !important;
    opacity: 1;
}

.input-text-float{
    position: absolute;
    pointer-events: none;
    height: 15px;
    line-height: 15px;
    left: 13px;
    top: 5px;
    font-size: 9px !important;
    
}

.f-w-400 {
    font-weight: 400 !important;
}
.btn-design{
    background-image: linear-gradient(to right,#0f73ee, #1dafe8) !important;
    color: #FFFFFF;
    border:none;
    border-color: transparent;
    border-radius: 6px;
    width: 30%;
    
}

.inputText {
    font-size: 15px;
    min-height: 50px !important;
    margin: 0 !important;
    color: rgb(78, 77, 77)
}


.floating-label {
    position: absolute;
    pointer-events: none;
    height: 45px;
    line-height: 45px;
    left: 20px;
    top: 1px;
    font-size: 15px !important;
    font-weight: 300 !important;
}

input:focus ~ .floating-label,
input:not(:focus):valid ~ .floating-label{
    height: 15px;
    line-height: 15px;
    left: 20px;
    top: 5px;
    font-size: 9px !important;
    opacity: 1;

}

.input-text-float{
    position: absolute;
    pointer-events: none;
    height: 15px;
    line-height: 15px;
    left: 13px;
    top: 5px;
    font-size: 9px !important;
    
}

.form-group-default.focused{
    background-color: #FFFFFF;
    border-color:  #2196F3;
}


textarea:focus ~ .floating-label,
textarea:not(:focus):valid ~ .floating-label{
    height: 15px;
    line-height: 15px;
    left: 13px;
    top: 5px;
    font-size: 9px !important;
    opacity: 1;

}

.inputTextContainer {
    border-radius: 5px;
}




/* ********************************* */

.example.example3 * {
    font-family: Quicksand, Open Sans, Segoe UI, sans-serif;
    font-size: 16px;
    font-weight: 600;
  }
  
  .example.example3 .fieldset {
    margin: 0 15px 30px;
    padding: 0;
    border-style: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  
  .example.example3 .field {
    padding: 10px 20px 11px;
    background-color: #7488aa;
    border-radius: 20px;
    width: 100%;
  }
  
  .example.example3 .field.half-width {
    width: calc(50% - (5px / 2));
  }
  
  .example.example3 .field.third-width {
    width: calc(33% - (5px / 3));
  }
  
  .example.example3 .field + .field {
    margin-top: 6px;
  }
  
  .example.example3 .field.focus,
  .example.example3 .field:focus {
    color: #424770;
    background-color: #f6f9fc;
  }
  
  .example.example3 .field.invalid {
    background-color: #fa755a;
  }
  
  .example.example3 .field.invalid.focus {
    background-color: #f6f9fc;
  }
  
  .example.example3 .field.focus::-webkit-input-placeholder,
  .example.example3 .field:focus::-webkit-input-placeholder {
    color: #cfd7df;
  }
  
  .example.example3 .field.focus::-moz-placeholder,
  .example.example3 .field:focus::-moz-placeholder {
    color: #cfd7df;
  }
  
  .example.example3 .field.focus:-ms-input-placeholder,
  .example.example3 .field:focus:-ms-input-placeholder {
    color: #cfd7df;
  }
  
  .example.example3 input, .example.example3 button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border-style: none;
  }
  
  .example.example3 input {
    color: #fff;
  }
  
  .example.example3 input::-webkit-input-placeholder {
    color: #9bacc8;
  }
  
  .example.example3 input::-moz-placeholder {
    color: #9bacc8;
  }
  
  .example.example3 input:-ms-input-placeholder {
    color: #9bacc8;
  }
  
  .example.example3 button {
    display: block;
    width: calc(100% - 30px);
    height: 40px;
    margin: 0 15px;
    background-color: #fcd669;
    border-radius: 20px;
    color: #525f7f;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
  }
  
  .example.example3 button:active {
    background-color: #f5be58;
  }
  
  .example.example3 .error svg .base {
    fill: #fa755a;
  }
  
  .example.example3 .error svg .glyph {
    fill: #fff;
  }
  
  .example.example3 .error .message {
    color: #fff;
  }
  
  .example.example3 .success .icon .border {
    stroke: #fcd669;
  }
  
  .example.example3 .success .icon .checkmark {
    stroke: #fff;
  }
  
  .example.example3 .success .title {
    color: #fff;
  }
  
  .example.example3 .success .message {
    color: #9cabc8;
  }
  
  .example.example3 .success .reset path {
    fill: #fff;
  }

  .error-p {
    color: red;
}

form.checkout {
  max-width: 500px;
  margin: 2rem auto;
  text-align: center;
  border: 2px solid #eee;
  border-radius: 8px;
  padding: 1rem 2rem;
  background: white;

  font-family: monospace;
  color: #525252;
  font-size: 1.1rem;
}

form.checkout button {
  padding: 0.5rem 1rem;
  color: white;
  background: coral;
  border: none;
  border-radius: 4px;
  margin-top: 1rem;
}

form.checkout button:active {
  background: rgb(165, 76, 43);
}

.error-p {
  color: red;
}


.font{
  font-family: 'Montserrat', sans-serif;
}
.f-w-400 {
  font-weight: 400 !important;
}
.f-w-500 {
  font-weight: 500;
}
.f-w-600 {
  font-weight: 600;
}
.f-s-15{
  font-size: 15px !important;
}
.f-s-16{
  font-size: 16px !important;
}

hr.divider{
  border: 3px solid #e9e8e8
}
.add-button{
  background-image: linear-gradient(to right, #0f73ee, #1dafe8) !important;
  color: #FFFFFF;
  border:none;
  border-color: transparent;
  border-radius: 6px;
  width: 80%;
}
.back-button{
  color: #95a0b6;
}
.image-container{
  width: 100%;
  height: 135px;
  border: 1px dashed #0f73ee;
  border-radius: 5px;
}
/* 
.inputTextContainer {
  border-radius: 5px !important;
} */
.inputText {
  font-size: 15px;
  min-height: 50px !important;
  margin: 0 !important;
}

.floating-label {
  position: absolute;
  pointer-events: none;
  height: 45px;
  line-height: 45px;
  left: 20px;
  top: 1px;
  font-size: 15px !important;
  font-weight: 300;
}
.select-label{
  position: absolute;
  pointer-events: none;
  height: 15px;
  line-height: 15px;
  left: 10px;
  top: 5px;
  font-size: 9px !important;
  opacity: 1;
}


input:focus ~ .floating-label,
input:not(:focus):valid ~ .floating-label{
  height: 15px;
  line-height: 15px;
  left: 10px;
  top: 1px;
  font-size: 9px !important;
  opacity: 1;
}

textarea:focus ~ .floating-label,
textarea:not(:focus):valid ~ .floating-label{
  height: 15px;
  line-height: 15px;
  left: 10px;
  top: 5px;
  font-size: 9px !important;
  opacity: 1;
}

/* .form-group-default{
  border-radius: 5px;
}
.form-group-default.focused{
  border-color:  #2196F3 !important;
  background-color:  #FFFFFF;
} */

.card-backgroud{
  background-color:#f1f6fe;
}

.card-common{
  box-shadow: 1px 2px 5px #d9dbe1;
}
.dropdown-menu.show {
  left: -75px !important;
}
.dropdown-menu.show::before {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  left: 50%;
  top: -12px;
  transform: translate(-50%,50%) rotate(45deg);
  background-color: #FFFFFF;
}
.checkbox.check-custom input[type=checkbox]:checked+label:before {
  border-color: #0056b3;
  border-width: 1px;


}
.checkbox.check-custom input[type=checkbox]:focus+label:before {
  background-color: #FFFFFF;
}
.checkbox.check-custom input[type=checkbox]:checked+label:after {
  color: #0056b3;

}

.radio-custom {
  opacity: 0;
  position: absolute;
}

.radio-custom, .radio-custom-label {
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
  cursor: pointer;
}

.radio-custom-label {
  position: relative;
  font-size: 12px;
  font-weight: 100;
  line-height: 16px;
}

.radio-custom + .radio-custom-label:before {
  content: '';
  background: #fff;
  border: 2px solid #95a0b6;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  padding: 0;
  margin-right: 10px;
  text-align: center;
}


.radio-custom + .radio-custom-label:before {
  border-radius: 50%;
}

.radio-custom:checked + .radio-custom-label:before {
  content: "\f00c";
  font-family: fontawesome;
  color: #0056b3;
  border: 2px solid #0056b3;
}

.buttoncls{
  width: 215px;
}

.error-p {
  color: red;
}

.chip {
  display: inline-block;
  padding: 0 11px;
  height: 24px;
  font-size: 13px;
  line-height: 23px;
  border-radius: 32px;
  background-color: #f1f1f1;
  margin-right: 2px;
  /* display: inline-block;
  padding: 0 11px;
  height: 24px;
  font-size: 13px;
  line-height: 23px;
  border-radius: 32px;
  background-color: #f1f1f1;
  margin-right: 2px;
  position: absolute;
  bottom: 12px;
  margin-left: 8px; */
}

.closebtn {
  padding-left: 10px;
  color: #888;
  font-weight: bold;
  float: right;
  font-size: 20px;
  cursor: pointer;
}

.closebtn:hover {
  color: #000;
}
.deletecls{
    margin-top: 10px;
}

.chpcls{
  width: 478px;
}
.saveVariantcls{
  margin-left: 865px;
  margin-bottom: 6px;
  display: flex;
}

.imgcloseclass{
  font-size: 23px;
  cursor: pointer;
  position: absolute;
  top: 6px;
  left: 136px;
  color: #707070;
}

.imgcardclass{
  height: 134px;
  width: 166px;
  border: 3px solid #b7b7b7;
  margin-right: 7px;
  border-radius: 12px;
}

.imgclass{
  display: flex;
}

.imgclass .variantsclass{
  height: 25px;
}

.imgclass img{
  height: 50px;
  width: 50px;
  border: 3px solid #b7b7b7;
  margin-right: 23px;
  border-radius: 30px;
}

.rightbottomvarclass{
  display: flex;
  position: absolute;
  left: 95px;
  top: 33px;
}

.priceclass{
  margin-right: 225px;
}

.qtyclass{
  margin-right: 225px;
}


.skuclass{
  margin-right: 260px;
}

.arrowclass{
  cursor: pointer;
}

.imageareaclass{
  height: 55px;
  width: 55px;
  position: absolute;
  top: 38px;
  left: 29px;
}



