<div class="page-content-wrapper ">
    <div class="content sm-gutter">
        <div class="container-fluid padding-25 sm-padding-10">

            <div class="h-100">
                <div class="container-fluid">

                    <div class="card card-borderless m-b-35">
                        <div class="card-body">

                            <div class="row align-items-center">
                                <div class="col-md-6 col-sm-12">
                                    <h4 class="font text-md-left m-0">Notifications</h4>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card card-borderless" style="height: -webkit-fill-available;">
                        <div class="card-body m-0 p-0">
                            <form class="m-b-0" action="#">
                                <!----START LOOP NOTIFICATIONS-->
                                <div class="row align-items-center p-b-2 p-t-2 mb-0 notification">
                                    <div class="col-7 m-0">
                                        <div class="form-input-group p-2">
                                            <p class="mb-0 f-s-16 font-weight-bold">New 0rder 574839 •</p>
                                            <label class="floating-label pt-1 mt-0">An order has been placed.</label>
                                        </div>
                                    </div>                                            
                                    <div class="col-5 text-right">  
                                        <p class="mb-0 f-s-16">09/09/2020</p>                                              
                                    </div>
                                </div>
                                <!----END LOOP NOTIFICATIONS-->

                                <div class="row align-items-center p-b-2 p-t-2 mb-0 notification">
                                    <div class="col-7 m-0">
                                        <div class="form-input-group p-2">
                                            <p class="mb-0 f-s-16 font-weight-bold">Out of Stock •</p>
                                            <label class="floating-label pt-1 mt-0">One of your products is out of stock.</label>
                                        </div>
                                    </div>                                            
                                    <div class="col-5 text-right">  
                                        <p class="mb-0 f-s-16">09/09/2020</p>                                              
                                    </div>
                                </div>

                                <div class="row align-items-center p-b-2 p-t-2 mb-0 notification">
                                    <div class="col-7 m-0">
                                        <div class="form-input-group p-2">
                                            <p class="mb-0 f-s-16 font-weight-bold">Order Canceled by Shopper •</p>
                                            <label class="floating-label pt-1 mt-0">Order 574839 has beencanceled by the shopper.</label>
                                        </div>
                                    </div>                                            
                                    <div class="col-5 text-right">  
                                        <p class="mb-0 f-s-16">09/09/2020</p>                                              
                                    </div>
                                </div>

                                <div class="row align-items-center p-b-2 p-t-2 mb-0 notification">
                                    <div class="col-7 m-0">
                                        <div class="form-input-group p-2">
                                            <p class="mb-0 f-s-16 font-weight-bold">New Review •</p>
                                            <label class="floating-label pt-1 mt-0">A shopper has left a review on one of your products</label>
                                        </div>
                                    </div>                                            
                                    <div class="col-5 text-right">  
                                        <p class="mb-0 f-s-16">09/09/2020</p>                                              
                                    </div>
                                </div>

                                <div class="row align-items-center p-b-2 p-t-2 mb-0 notification">
                                    <div class="col-7 m-0">
                                        <div class="form-input-group p-2">
                                            <p class="mb-0 f-s-16 font-weight-bold">Package has Shipped •</p>
                                            <label class="floating-label pt-1 mt-0">Package 091888JAKMXl51G has shipped.</label>
                                        </div>
                                    </div>                                            
                                    <div class="col-5 text-right">  
                                        <p class="mb-0 f-s-16">09/09/2020</p>                                              
                                    </div>
                                </div>

                                <div class="row align-items-center p-b-2 p-t-2 mb-0 notification">
                                    <div class="col-7 m-0">
                                        <div class="form-input-group p-2">
                                            <p class="mb-0 f-s-16 font-weight-bold">Package Delivered</p>
                                            <label class="floating-label pt-1 mt-0">Package 091888JAKMXl51G has been delivered.</label>
                                        </div>
                                    </div>                                            
                                    <div class="col-5 text-right">  
                                        <p class="mb-0 f-s-16">09/09/2020</p>                                              
                                    </div>
                                </div>

                                <div class="row align-items-center p-b-2 p-t-2 mb-0 notification">
                                    <div class="col-7 m-0">
                                        <div class="form-input-group p-2">
                                            <p class="mb-0 f-s-16 font-weight-bold">Return Package Shipped</p>
                                            <label class="floating-label pt-1 mt-0">Returned package 091888JAKMXl51G has shipped.</label>
                                        </div>
                                    </div>                                            
                                    <div class="col-5 text-right">  
                                        <p class="mb-0 f-s-16">09/09/2020</p>                                              
                                    </div>
                                </div>


                                <div class="row align-items-center p-b-2 p-t-2 mb-0 notification">
                                    <div class="col-7 m-0">
                                        <div class="form-input-group p-2">
                                            <p class="mb-0 f-s-16 font-weight-bold">Return Package Delivered</p>
                                            <label class="floating-label pt-1 mt-0">Returned package 091888JAKMXl51G was delivered.</label>
                                        </div>
                                    </div>                                            
                                    <div class="col-5 text-right">  
                                        <p class="mb-0 f-s-16">09/09/2020</p>                                              
                                    </div>
                                </div>


                                <div class="row align-items-center p-b-2 p-t-2 mb-0 notification">
                                    <div class="col-7 m-0">
                                        <div class="form-input-group p-2">
                                            <p class="mb-0 f-s-16 font-weight-bold">New Return Request</p>
                                            <label class="floating-label pt-1 mt-0">New return request 574839 needs to be reviewed.</label>
                                        </div>
                                    </div>                                            
                                    <div class="col-5 text-right">  
                                        <p class="mb-0 f-s-16">09/09/2020</p>                                              
                                    </div>
                                </div>

                                <div class="row align-items-center p-b-2 p-t-2 mb-0 notification">
                                    <div class="col-7 m-0">
                                        <div class="form-input-group p-2">
                                            <p class="mb-0 f-s-16 font-weight-bold">Return Refunded</p>
                                            <label class="floating-label pt-1 mt-0">Return 574839 has been refunded.</label>
                                        </div>
                                    </div>                                            
                                    <div class="col-5 text-right">  
                                        <p class="mb-0 f-s-16">09/09/2020</p>                                              
                                    </div>
                                </div>

                                <div class="row align-items-center p-b-2 p-t-2 mb-0 notification">
                                    <div class="col-7 m-0">
                                        <div class="form-input-group p-2">
                                            <p class="mb-0 f-s-16 font-weight-bold">Subscription Payment Due</p>
                                            <label class="floating-label pt-1 mt-0">Your subscript on payment is due 09/1412020.</label>
                                        </div>
                                    </div>                                            
                                    <div class="col-5 text-right">  
                                        <p class="mb-0 f-s-16">09/09/2020</p>                                              
                                    </div>
                                </div>

                                <div class="row align-items-center p-b-2 p-t-2 mb-0 notification">
                                    <div class="col-7 m-0">
                                        <div class="form-input-group p-2">
                                            <p class="mb-0 f-s-16 font-weight-bold">Subscription Payment Received</p>
                                            <label class="floating-label pt-1 mt-0">Thanks for your subscription payment.</label>
                                        </div>
                                    </div>                                            
                                    <div class="col-5 text-right">  
                                        <p class="mb-0 f-s-16">09/09/2020</p>                                              
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>