/* You can add global styles to this file, and also import other style files 
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";*/
@import url(https://unpkg.com/bootstrap@4.3.1/dist/css/bootstrap.min.css);
/* @import "~material-icons/iconfont/material-icons.css"; */
/* @import "~@angular/cdk/overlay-prebuilt.css"; */ */
 

.selector-for-some-widget {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.btn{
  text-transform: uppercase;
}
.select{position: relative;}
.select::after {
  content: '\f078';
    font: normal normal normal 14px/1 FontAwesome;
    color: #9c9c9c;
    right: 11px;
    top: 6px;
    padding: 10px 0px 0px 8px;
    position: absolute;
    pointer-events: none;
}
.chpcls.mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 1.25em;
} 
.chpcls.mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: .2375em 0;
}


/* position */

.toast-center-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.toast-top-center {
  top: 0;
  right: 0;
  width: 100%;
}

.toast-bottom-center {
  bottom: 0;
  right: 0;
  width: 100%;
}

.toast-top-full-width {
  top: 0;
  right: 0;
  width: 100%;
}

.toast-bottom-full-width {
  bottom: 0;
  right: 0;
  width: 100%;
}

.toast-top-left {
  top: 12px;
  left: 12px;
}

.toast-top-right {
  top: 12px;
  right: 12px;
}

.toast-bottom-right {
  right: 12px;
  bottom: 12px;
}

.toast-bottom-left {
  bottom: 12px;
  left: 12px;
}

/* toast styles */

.toast-title {
  font-weight: bold;
}

.toast-message {
  word-wrap: break-word;
}

.toast-message a, .toast-message label {
  color: #FFFFFF;
}

.toast-message a:hover {
  color: #CCCCCC;
  text-decoration: none;
}

.toast-close-button {
  position: relative;
  right: -0.3em;
  top: -0.3em;
  float: right;
  font-size: 20px;
  font-weight: bold;
  color: #FFFFFF;
  text-shadow: 0 1px 0 #ffffff;
  /* opacity: 0.8; */
}

.toast-close-button:hover, .toast-close-button:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
}

/*Additional properties for button version
   iOS requires the button element instead of an anchor tag.
   If you want the anchor version, it requires `href="#"`.*/

button.toast-close-button {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}

.toast-container {
  pointer-events: none;
  position: fixed;
  z-index: 999999;
}

.toast-container * {
  box-sizing: border-box;
}

.toast-container .toast {
  position: relative;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 15px 15px 15px 50px;
  width: 300px;
  border-radius: 3px 3px 3px 3px;
  background-position: 15px center;
  background-repeat: no-repeat;
  background-size: 24px;
  box-shadow: 0 0 12px #999999;
  color: #FFFFFF;
}

.toast-container .toast:hover {
  box-shadow: 0 0 12px #000000;
  opacity: 1;
  cursor: pointer;
}

/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/info-circle.svg */

.toast-info {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="rgb(255,255,255)" d="M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z"/></svg>');
}

/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/times-circle.svg */

.toast-error {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="rgb(255,255,255)" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm121.6 313.1c4.7 4.7 4.7 12.3 0 17L338 377.6c-4.7 4.7-12.3 4.7-17 0L256 312l-65.1 65.6c-4.7 4.7-12.3 4.7-17 0L134.4 338c-4.7-4.7-4.7-12.3 0-17l65.6-65-65.6-65.1c-4.7-4.7-4.7-12.3 0-17l39.6-39.6c4.7-4.7 12.3-4.7 17 0l65 65.7 65.1-65.6c4.7-4.7 12.3-4.7 17 0l39.6 39.6c4.7 4.7 4.7 12.3 0 17L312 256l65.6 65.1z"/></svg>');
}

/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/check.svg */

.toast-success {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="rgb(255,255,255)" d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"/></svg>');
}

/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/exclamation-triangle.svg */

.toast-warning {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="rgb(255,255,255)" d="M569.517 440.013C587.975 472.007 564.806 512 527.94 512H48.054c-36.937 0-59.999-40.055-41.577-71.987L246.423 23.985c18.467-32.009 64.72-31.951 83.154 0l239.94 416.028zM288 354c-25.405 0-46 20.595-46 46s20.595 46 46 46 46-20.595 46-46-20.595-46-46-46zm-43.673-165.346l7.418 136c.347 6.364 5.609 11.346 11.982 11.346h48.546c6.373 0 11.635-4.982 11.982-11.346l7.418-136c.375-6.874-5.098-12.654-11.982-12.654h-63.383c-6.884 0-12.356 5.78-11.981 12.654z"/></svg>');
}

.toast-container.toast-top-center .toast, .toast-container.toast-bottom-center .toast {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.toast-container.toast-top-full-width .toast, .toast-container.toast-bottom-full-width .toast {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
}

.toast {
  background-color: #030303;
  pointer-events: auto;
}

.toast-success {
  background-color: #51A351;
}

.toast-error {
  background-color: #BD362F;
}

.toast-info {
  background-color: #2F96B4;
}

.toast-warning {
  background-color: #F89406;
}

.toast-progress {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  background-color: #000000;
  opacity: 0.4;
}

/* Responsive Design */

@media all and (max-width: 240px) {
  .toast-container .toast.div {
    padding: 8px 8px 8px 50px;
    width: 11em;
  }
  .toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }
}

@media all and (min-width: 241px) and (max-width: 480px) {
  .toast-container .toast.div {
    padding: 8px 8px 8px 50px;
    width: 18em;
  }
  .toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }
}

@media all and (min-width: 481px) and (max-width: 768px) {
  .toast-container .toast.div {
    padding: 15px 15px 15px 50px;
    width: 25em;
  }
}

/* Form validation class -start*/

.is-error {
  border-bottom: 1px solid rgba(255, 0, 0, 0.50)!important;
}

.label-error {
  color: rgba(255, 0, 0, 0.50)!important;
}

/* Form validation class -end*/

.margin-top-bottom-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.border-bottom {
  border-bottom: solid #0000001c 1px;
}

/* Template CSS Alternatives */

.btn.disabled, .btn:disabled {
  opacity: 0.45;
}

.custom-2 {
  color: #2f2f2f;
  font-size: 14px;
  line-height: 30px;
  font-weight: 700;
  margin-right: 30px;
}

@media (max-width:768px) {
  .custom-2 {
    top: 15px;
    right: 0;
  }
  .btn.invent-2 {
    right: 20px;
  }
  .pad-t-10-max-width-768 {
    padding-top: 10px;
  }
  .show-min-768px {
    display: none;
  }
  .pad-768 {
    padding-left: 60px;
    padding-right: 60px;
  }
}

.margin-padding-0 {
  margin: 0px !important;
  padding: 0px !important;
}

.pointer {
  cursor: pointer;
}

.not-allowed {
  cursor: not-allowed;
}

body {
  background-color: #fff;
}

.mat-focused .mat-form-field-label {
  color: #bfbebe
}

.mat-radio-inner-circle {
  background-color: #4fe16c !important;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #4fe16c !important;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #4fe16c;
}

.add_img {
  height: 150px !important;
  width: auto;
}

.inline {
  display: inline;
}

.today.active {
  color: #3ba750 !important;
  background-color: #4fe16c !important;
}

.datetimepicker .active {
  background-color: #4fe16c !important;
}

.datetimepicker .active:hover {
  background-color: #41b357 !important;
}

.datetimepicker table tr td.today, .datetimepicker table tr td.today:hover, .datetimepicker table tr td.today.disabled, .datetimepicker table tr td.today.disabled:hover {
  background-color: #f3f3f3 !important;
  background-image: none;
  background-image: none;
  /* background-image: -webkit-gradient(linear,0 0,0 100%,from(#fdd49a),to(#fdf59a)); */
  /* background-image: -webkit-linear-gradient(top,#fdd49a,#fdf59a); */
  background-image: none;
  background-image: none;
  background-repeat: none;
  filter: none;
  border-color: none;
  border-color: none;
  filter: none;
}

.in-progress {
  cursor: progress !important;
  opacity: 0.6 !important;
}

.display-center {
  display: table;
  margin: auto;
}

.color-red, .mat-warn {
  color: #f44336;
}

.disable-click2 {
  pointer-events: none;
  cursor: not-allowed !important;
}

a, img {
  text-decoration: none;
  color: inherit;
  border: none;
  outline: none;
}

.swal-footer {display: flex;align-items: center;justify-content: center;}
.swal-footer .swal-text {color: rgb(0 0 0);}
.swal-footer .swal-button-container {flex: 1 0 50%;}
.swal-footer .swal-button--cancel {width: 100%;background-color: transparent;border: 1px solid #1077ee; color:#189AEA}
.swal-footer .swal-button--cancel:hover{background-color: transparent;}
.swal-footer .swal-button--confirm {width: 100%;background:-moz-linear-gradient(90deg,rgba(16,118,238,1) 0%,rgba(24,154,234,1) 100%)!important;background:-webkit-linear-gradient(90deg,rgba(16,118,238,1) 0%,rgba(24,154,234,1) 100%)!important;background:-o-linear-gradient(90deg,rgba(16,118,238,1) 0%,rgba(24,154,234,1) 100%)!important;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#189AEA',endColorstr='#1076EE',GradientType=0)!important;background:-ms-linear-gradient(90deg,rgba(16,118,238,1) 0%,rgba(24,154,234,1) 100%)!important;background:linear-gradient(90deg,rgba(16,118,238,1) 0%,rgba(24,154,234,1) 100%)!important;border-color:#fff}


.newclsadd{display:flex;justify-content:flex-end}
.tooltip1{position:relative}
.tooltip1 .tooltip1text{background-color:#1075ee;color:#fff;text-align:center;border-radius:3px;padding:3px 9px;z-index:9;margin:0;visibility:visible;opacity:1;transition:opacity .3s;position:absolute}
.tooltip1 .tooltip1text.tooltip1textleftmenu{width:215px;right:-120%;top:50%;transform:translate(-50%,-50%)}
.tooltip1 .tooltip1text.tooltip1textaddcategory{width:280px;top:110%;left:50%;transform:translate(-50%,0%)}
.tooltip1 .tooltip1text h4{margin:0}
.tooltip1 .tooltip1text.tooltip1textleftmenu::after{content:"";position:absolute;top:50%;right:99%;border-width:9px;border-style:solid;border-color:transparent #1075ee transparent transparent;transform:translateY(-50%)}
.tooltip1 .tooltip1text.tooltip1textaddcategory::after{content:"";position:absolute;top:-8px;left:50%;border-width:9px;border-style:solid;border-color:transparent transparent #1075ee;transform:translateY(-50%)}
.tooltip1 .tooltip1text .close{opacity:1}
.tooltip1 .tooltip1text .close:not(:disabled):not(.disabled){cursor:pointer;color:#fff;text-shadow:none;position:absolute;top:-3px;right:3px}
.tooltip1 .tooltip1text p{margin-top:0;margin-bottom:0;text-align:left}
.page-sidebar .sidebar-menu .menu-items{overflow:inherit}
.page-sidebar{overflow:inherit}

textarea { resize: none; }


.image-upload {
  width: 100%;
  height: 145px;
  border: 1px dashed #7070705F;
  border-radius: 5px;
  margin-bottom: 20px;
  position: relative;
  text-align: center;
  background: #f8f8f9;
  color: #7070705F;
  overflow: hidden;
  display: flex;
    align-items: center;
    justify-content: center;
}

.item-wrapper form img {
  margin-bottom: 20px;
  width: auto;
  height: auto;
  max-height: 400px;
  width: auto;
  border-radius: 5px;
  overflow: hidden
}

.image-upload img {
  height: 100% !important;
  width: auto !important;
  border-radius: 0px;
  margin: 0 auto
}

.image-upload i {
  color: #ccc;
  font-size: 20px;
}

.image-upload input {
  cursor: pointer;
  opacity: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0
}

.item-wrapper input {
  height: 43px;
  line-height: 43px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 20px
}



@media (max-width:991px) {
.app-left-menu{position:relative;z-index:99}
/* .page-container{z-index:9} */

/* .hide{display: none !important;}
.sidebar-close{display: none !important;} */
}

@media (max-width:768px) {
.newclsadd {justify-content: center;}
}

@media (max-width:540px) {
.nav.nav-tabs.nav-tabs-simple{
  overflow-x: scroll;
      flex-wrap: nowrap;
      display: flex;
      justify-content: flex-start;
  }
  
  .nav-tabs-simple>li {
    width: 145px;
    min-width: 110px;
    height: 56px;
    flex-shrink: 0;
    line-height: normal;
    padding-right: 5px;
    padding-left: 5px;
  }


}


/* .floating-label-group{position:relative;margin-bottom:25px} */
/* .floating-label-group .floating-label{font-size:13px;color:#ccc;position:absolute;pointer-events:none;top:9px;left:12px;transition:all .1s ease} */
/* .floating-label-group .form-control:focus ~ .floating-label{top:-15px;bottom:0;left:0;font-size:11px;opacity:1;color:#404040} */
/* .floating-label-group .form-control{border:1px solid #dedddd;color:#333;height:54px;font-size:16px;padding:22px 10px 4px 15px;-webkit-border-radius:6px;border-radius:6px}
.floating-label-group{position:relative;margin-bottom:20px}
.floating-label{font-size:14px;color:#565656;position:absolute;pointer-events:none;top:18px;left:15px;transition:all .1s ease}
.form-control:focus ~ .floating-label,.boardingfo .form-control:disabled ~ .floating-label,.boardingfo .form-control[readonly] ~ .floating-label,.boardingfo .form-control:not(:focus):valid ~ .floating-label{top:4px;left:15px;font-size:12px;opacity:1;color:#565656} */


.floatwrap {box-sizing:border-box;position: relative;width: 100%;}
.floatwrap input, .floatwrap textarea, .floatwrap select{width: 100%!important;
  border: 1px solid #ced4da!important;
  color: #333!important;
  height: 54px!important;
  font-size: 16px!important;
  padding: 15px 10px 15px 15px!important;
  border-radius: 6px;
  font-weight: 400;
  line-height: 25px;
  background-color: #fff!important;
  background-clip: padding-box;
  display: block;
}
.floatwrap input:focus, .floatwrap textarea:focus, .floatwrap select:focus{outline:none;}
.floatwrap::before{content:'';display:block;position:absolute;bottom:0;height:1px;width:100%;left:17px;}
.floatwrap label.matlabel{display:none}
.floatwrap input:not(:placeholder-shown) + label.matlabel, 
.floatwrap textarea:not(:placeholder-shown) + label.matlabel, 
.floatwrap select:not(:placeholder-shown) + label.matlabel{display:block;font-family: montserrat;font-size: 10.5px;letter-spacing: .06em;font-weight: 500;}
.floatwrap .matlabel{color:rgba(0,0,0,.6);font-size:10px;position:absolute;top:2px;left:17px;transition: all .1s ease;-moz-transition: all .1s ease;-webkit-transition: all .1s ease;font-size: 10.5px;letter-spacing: .06em;text-transform: capitalize !important;font-weight: 500;}
.floatwrap textarea{ padding: 18px 17px !important;line-height: 20px;height: 120px !important;}
.floatwrap textarea:not(:placeholder-shown) + label.matlabel {font-size: 10.5px;letter-spacing: .06em;text-transform: capitalize !important;font-weight: 500;}
.form-group .form-control{height: 54px!important; border: 1px solid #ced4da!important;font-size: 16px!important;padding: 15px 10px 15px 15px!important;border-radius: 6px;font-weight: 400; line-height: 25px;}
.form-group textarea.form-control{height: 120px!important; border: 1px solid #ced4da!important;font-size: 16px!important;padding: 15px 10px 15px 15px!important;border-radius: 6px;font-weight: 400; line-height: 25px;}
.floating-label{font-family: montserrat;font-size: 10.5px;letter-spacing: .06em;text-transform: capitalize !important;font-weight: 500;}





  /****  floating-Lable style start ****/
/* .floatwrapnew { 
  position:relative; 
  margin-bottom:20px; 
}
.floating-select {
  font-size:14px;
  padding:4px 4px;
  display:block;
  width:100%;
  height:30px;
  background-color: transparent;
  border:none;
  border-bottom:1px solid #757575;
}

.floating-select:focus {
     outline:none;
     border-bottom:2px solid #5264AE; 
}

.floatwrapnew label {
  color:#999; 
  font-size:14px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:5px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
} */

/* .floating-select:focus ~ label , .floating-select:not([value=""]):valid ~ label {
  top:-18px;
  font-size:14px;
  color:#5264AE;
} */

/* active state */
/* .floating-select:focus ~ .bar:before, .floating-select:focus ~ .bar:after {
  width:50%;
} */


/* highlighter */
/* .highlight {
  position:absolute;
  height:50%; 
  width:100%; 
  top:15%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
} */

/* active state */
/* .floating-input:focus ~ .highlight , .floating-select:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
} */

/* animation */
/* @-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
} */

/****  floating-Lable style end ****/